﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/datetime.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/js")
    <div class="header">Symtech Programming Question</div>
    <div class="content">
        <h3>Problem Description</h3>
        <p>The purpose of this question is to evaluate your ability as a web developer.</p>
        <p>
            The task will have you create a <a href="https://learn.jquery.com/plugins/basic-plugin-creation/">JQuery plugin</a>, which will transform the below input into a datetime picker.
            The datetime picker should be initialized with the date returned from <code><a href="/api/date/">/api/date/</a></code> selected initially.
            The endpoint generates a random date, so you will need to request the date from it using AJAX.
            You should then be able to pick a different date, and post it to <code>/api/date/</code>, with it being correctly parsed into a C# <code>DateTime</code> serverside.
        </p>
        <p>Please <strong>do not</strong> copy an existing date-picker plugin, as this is not a test of your ability to find and use existing plugins.</p>
        <p>Please spend no more than a few hours on the question, and complete as many of the requirements below as possible.</p>
        <br />
        <h3>Requirements</h3>
        <p>These requrements are ordered in order of importance. Start at the top, and work your way down.</p>
        <ul>
            <li>Create a JQuery plugin, which is called on an HTML input, to initialize it as a datetime picker, i.e. <code>$("#datetime").dateTime()</code>.</li>
            <li>Add a pop-up, which is displayed when the input is clicked on.</li>
            <li>Add time controls to the pop-up, which allow a user to select a time, and set the time component of the input to match the selected time.</li>
            <li>Add date controls to the pop-up, which allow a user to select a date, and set the date component of the input to match the selected date.</li>
            <li>Request a datetime from <code><a href="/api/date/">/api/date/</a></code>, and initialize the date-picker with that datetime.</li>
            <li>Post the currently selected datetime to <code>/api/date/</code>, and ensure it is correctly parsed to a C# <code>DateTime</code>.</li>
        </ul>
        <br />
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
