﻿<h3>Date-time picker</h3>
<p>Pick a date and time</p>
<br />
<input id="datetime" type="text" />
<button id="Submit">Post</button>

<script src="~/Scripts/jquery.datetime.js"></script>
<script>
    $().ready(() => {
        $("#Submit").click((e) => {
            e.preventDefault();
            data = $("#datetime").val();

            if (!IsDateTime(data)) {
                alert("Date " + data + " is invalid!");
                return;
            }

            data += '.000';

            $.ajax({
                url: "api/Date/",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                dataType: "json",
                success: function () {
                    alert("update success");
                },
                failure: function () {
                    alert("update failure");
                },
            });

        });

        function IsDateTime(dateString) {
            if (dateString.trim() === "") {
                return false;
            }

            var r = dateString.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2}) (\d{1,2}):(\d{1,2}):(\d{1,2})$/);

            if (r === null) {
                return false;
            }

            var d = new Date(r[1], r[3], r[4], r[5], r[6], r[7]);
            return d.getFullYear() == r[1]
                && d.getMonth() == r[3]
                && d.getDate() == r[4]
                && d.getHours() == r[5]
                && d.getMinutes() == r[6]
                && d.getSeconds() == r[7];
        }

        $.ajax({
            url: "api/Date/",
            method: "GET",
            success: function (data) {
                var dt = data.replace('T', ' ');
                $("#datetime").val(dt);
            },
            failure: () => {
                alert("failure");
            }
        }).then(function () {
            var time = $("#datetime").dateTime();
        });
    });
</script>