﻿.datetime {
    position: absolute;
    width: 170px;
    overflow: auto;
    border: 1px solid #aaa;
    z-index: 99;
    margin: auto;
}

.datetime div {
    margin: 5px;
}

.datetime input[type=date] {
    width: 150px;
}

.datetime input[type=time] {
    width: 150px;
}